.createCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 45vh;
    background-color: #E8F4F4;
    text-align: center;
}

.newTitle,
.newBody,
.submit {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70vw;
    height: 30px;
    padding: 0;
}